@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ultra&display=swap");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
ul,
li,
a,
p,
h1, h2, h3, h4, h5,
hr,
table, th, td,
div,
span {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Ultra", serif;
}

a {
  text-decoration: none;
  color: #000;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  color: #fff;
  background-color: #252e26;
}

footer p {
  text-shadow: -1px -1px 10px #889977, 1px 1px 5px #889977, 0px 10px 10px #252e26;
}

img {
  border-radius: 2px;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.grid-row {
  width: 100%;
  padding: 0 20px;
  margin: .5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 500px) {
  .grid-row {
    margin: 0;
  }
}

.grid-row .column-1:first-child, .grid-row .column-2:first-child, .grid-row .column-3rd:first-child, .grid-row .column-3:first-child, .grid-row .column-4:first-child {
  margin: 0 !important;
}

.grid-row .column-1, .grid-row .column-2, .grid-row .column-3rd, .grid-row .column-3, .grid-row .column-4 {
  margin-left: 2%;
}

.grid-row .column-1 h1.heading, .grid-row .column-2 h1.heading, .grid-row .column-3rd h1.heading, .grid-row .column-3 h1.heading, .grid-row .column-4 h1.heading {
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  opacity: .75;
  background-color: rgba(163, 163, 163, 0.445);
}

.grid-row .column-1 {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  max-width: 23%;
}

@media only screen and (max-width: 700px) {
  .grid-row .column-1 {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    max-width: 48%;
  }
  .grid-row .column-1:nth-of-type(3) {
    margin: .5em 0 0;
  }
  .grid-row .column-1:nth-of-type(4) {
    margin: .5em 0 0 .5em;
  }
}

@media only screen and (max-width: 500px) {
  .grid-row .column-1 {
    -ms-flex-preferred-size: 98%;
        flex-basis: 98%;
    max-width: 98%;
    margin: .5em 0;
  }
  .grid-row .column-1:nth-of-type(3) {
    margin: 0;
  }
  .grid-row .column-1:nth-of-type(4) {
    margin: .5em 0;
  }
}

.grid-row .column-2 {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  max-width: 48%;
}

@media only screen and (max-width: 500px) {
  .grid-row .column-2 {
    -ms-flex-preferred-size: 98%;
        flex-basis: 98%;
    max-width: 98%;
    margin: .5em 0;
  }
}

.grid-row .column-3rd {
  -ms-flex-preferred-size: 31.33%;
      flex-basis: 31.33%;
  max-width: 31.33%;
}

@media only screen and (max-width: 700px) {
  .grid-row .column-3rd {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    max-width: 48%;
  }
  .grid-row .column-3rd:nth-of-type(3) {
    -ms-flex-preferred-size: 98%;
        flex-basis: 98%;
    max-width: 98%;
    margin: .5em 0;
  }
}

@media only screen and (max-width: 500px) {
  .grid-row .column-3rd {
    -ms-flex-preferred-size: 98%;
        flex-basis: 98%;
    max-width: 98%;
    margin: .5em 0;
  }
  .grid-row .column-3rd:nth-of-type(2) {
    margin: 0;
  }
  .grid-row .column-3rd:nth-of-type(4) {
    margin: .5em 0;
  }
}

.grid-row .column-3 {
  -ms-flex-preferred-size: 73%;
      flex-basis: 73%;
  max-width: 73%;
}

@media only screen and (max-width: 700px) {
  .grid-row .column-3 {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    max-width: 48%;
  }
}

@media only screen and (max-width: 500px) {
  .grid-row .column-3 {
    -ms-flex-preferred-size: 98%;
        flex-basis: 98%;
    max-width: 98%;
    margin: .5em 0;
  }
}

.grid-row .column-4 {
  -ms-flex-preferred-size: 98%;
      flex-basis: 98%;
  max-width: 98%;
}

@media only screen and (max-width: 500px) {
  .grid-row .column-4 {
    margin: .5em 0;
  }
}

.grid-row-no-margins {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 500px) {
  .grid-row-no-margins {
    margin: 0 !important;
  }
}

.grid-row-no-margins .column-1 .h1.heading, .grid-row-no-margins .column-2 .h1.heading, .grid-row-no-margins .column-3rd .h1.heading, .grid-row-no-margins .column-3 .h1.heading, .grid-row-no-margins .column-4 .h1.heading {
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  opacity: .75;
  background-color: #fff;
}

.grid-row-no-margins .column-1 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
}

@media only screen and (max-width: 700px) {
  .grid-row-no-margins .column-1 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .grid-row-no-margins .column-1 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

.grid-row-no-margins .column-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
}

@media only screen and (max-width: 500px) {
  .grid-row-no-margins .column-2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

.grid-row-no-margins .column-3rd {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  max-width: 33.33%;
}

@media only screen and (max-width: 700px) {
  .grid-row-no-margins .column-3rd {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .grid-row-no-margins .column-3rd:nth-of-type(3) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .grid-row-no-margins .column-3rd {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

.grid-row-no-margins .column-3 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  max-width: 75%;
}

@media only screen and (max-width: 700px) {
  .grid-row-no-margins .column-3 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .grid-row-no-margins .column-3 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

.grid-row-no-margins .column-4 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

.grid-row-no-margins .box-this {
  border: 1px solid #000;
  background-color: #666;
}

.centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .5em;
}

.img-grid img {
  padding: .5em;
  width: calc(100% / 3);
}

@media only screen and (max-width: 700px) {
  .img-grid img {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .img-grid img {
    width: 100%;
  }
}

.img-grid div {
  padding: .5em;
  width: calc(100% / 3);
}

@media only screen and (max-width: 700px) {
  .img-grid div {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .img-grid div {
    width: 100%;
  }
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 1;
}

nav div {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.2em;
  padding: 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav div .logo {
  cursor: pointer;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-shadow: -1px -1px 10px #889977, 1px 1px 5px #889977, 0px 10px 10px #252e26;
}

nav div ul {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

nav div ul li {
  list-style: none;
}

nav div ul li a {
  color: #262626;
  padding: 0px 20px;
  text-shadow: 0px 10px 10px #252e26;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: uppercase;
}

nav div ul li a:hover {
  color: #fff;
  background: #666;
}

.dark-back {
  height: 50px;
  background-color: #252e26d5;
}

.dark-back a {
  color: #fff;
  text-shadow: 0px 10px 10px #889977;
}

.back {
  background-color: #889977;
  -webkit-box-shadow: -1px -1px 10px #252e26, 1px 1px 5px #252e26, 0px 10px 10px #888;
          box-shadow: -1px -1px 10px #252e26, 1px 1px 5px #252e26, 0px 10px 10px #888;
  height: 50vh;
}

.navFollowing {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #889977;
  background: url("../images/jfback.jpg");
  background-position: left;
  background-attachment: fixed;
}

.navFollowing h1 {
  text-shadow: -1px -1px 10px #889977, 1px 1px 5px #889977, 0px 10px 10px #252e26;
  font-size: 3em;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.navFollowing h1:hover {
  font-size: 5em;
}

#projects, #contact {
  width: 100%;
}

#projects {
  height: 100vh;
}

#projects .py .column-2 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

@media only screen and (max-width: 700px) {
  #projects .py .column-2 {
    height: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#projects .py .column-2 + .column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  background-color: #887799;
}

@media only screen and (max-width: 700px) {
  #projects .py .column-2 + .column-2 {
    height: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#projects .projContainerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
}

#projects .projContainerLeft h1 {
  font-size: 2em;
  padding-bottom: .5em;
  text-shadow: -1px -1px 10px #fff, 1px 1px 5px #fff, 0px 10px 10px #666;
}

#projects .projContainerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
}

#projects .projContainerRight h1 {
  font-size: 2em;
  padding-bottom: .5em;
  text-shadow: -1px -1px 10px #fff, 1px 1px 5px #fff, 0px 10px 10px #666;
}

#projects .projContainerRight .paradise {
  margin: 200px;
}

@media only screen and (max-width: 700px) {
  #projects {
    height: auto;
  }
}

#contact {
  height: 100vh;
}

.box-this {
  background-color: #fff;
  max-width: 350px;
  min-width: 350px;
  margin: 1em;
  height: 350px;
}

.proj-scroller {
  background-color: rgba(255, 255, 255, 0.397);
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  border: 1px solid black;
}

@media only screen and (max-width: 700px) {
  .proj-scroller {
    height: 300px;
    margin: 2em;
  }
}

.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot-group {
  text-align: center;
  padding: 1em;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* Slideshow container */
.proj-scroller {
  max-width: 550px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #3a3a3a;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

div.profile-card {
  position: absolute;
  width: 450px;
  -webkit-transition: .5s;
  transition: .5s;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0 15px 15px 0;
  -webkit-box-shadow: -1px -1px 10px #889977, 1px 1px 5px #889977, 0px 10px 10px #252e26;
          box-shadow: -1px -1px 10px #889977, 1px 1px 5px #889977, 0px 10px 10px #252e26;
}

div.profile-card .cover-photo {
  border-radius: 0 15px 0 0;
  background: #889977;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #889977), color-stop(50%, #252e26));
  background: linear-gradient(180deg, #889977 25%, #252e26 50%);
  width: 450px;
  height: 100px;
}

div.profile-card .profile-photo {
  background: #889977;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #252e26), to(#889977));
  background: linear-gradient(180deg, #252e26 50%, #889977 100%);
  width: 450px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.profile-card .profile-photo img {
  width: 100px;
  height: 100px;
  background-color: #999;
  position: relative;
  top: -50px;
  border-radius: 50%;
}

div.profile-card .card-content {
  background-color: #fff;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.profile-card .card-content h2 {
  font-size: 1em;
}

div.profile-card .social {
  color: white;
  background: #889977;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #889977), to(#252e26));
  background: linear-gradient(180deg, #889977 50%, #252e26 100%);
  width: 450px;
  border-radius: 0 0 15px 0;
}

div.profile-card .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

div.profile-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
}
/*# sourceMappingURL=styles.css.map */